<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel='icon' href="images/weather.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Weather App</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
    <form>
        <input placeholder="Location">
        <button type="submit">Submit</button>
    </form>
    <p id="txt1"></p>
    <p id="txt2"></p>
    </div>
    {{>footer}}
    
   <script src="js/app.js"></script>
</body>
</html>


{{!-- removed the index.html file from the public folder as it will get served --}}